@model IEnumerable<TicketReservationApplication.Entities.Screening>

@{
    ViewData["Title"] = "GetScreenings";
}

<h1>GetScreenings</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CinemaHallId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScreeningDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CinemaHallId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScreeningDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>

            @{
                if (User.IsInRole("ADMIN"))
                {
                    @Html.ActionLink(" Edit ", "Edit", new { id = item.Id })
                    @Html.ActionLink(" Delete ", "Delete", new { /* id=item.PrimaryKey */ })
                }
            }
                @Html.ActionLink("Details", "ViewScreeningDetails", new {id=item.Id}) |
            </td>
        </tr>
}
    </tbody>
</table>
