<table class="table">
    <thead>
        <tr>
            <th>Movie Title</th>
            <th>Cinema Hall</th>
            <th>Screening Date</th>
            <th>End Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var screening in Model)
        {
            <tr>
                <td>@screening.MovieTitle</td>
                <td>@screening.CinemaHallName</td>
                <td>@screening.ScreeningDate.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@screening.EndDate.ToString("yyyy-MM-dd HH:mm")</td>
                <td>
                    @{
                        if (User.IsInRole("ADMIN"))
                        {
                            @Html.ActionLink(" Edit ", "Edit", new { id = screening.Id })
                            @Html.ActionLink(" Delete ", "Delete", new { id = screening.Id })
                        }
                    }
                    @Html.ActionLink("Details", "ViewScreeningDetails", new { id = screening.Id }) |
                </td>
            </tr>
        }
    </tbody>
</table>










 