@model TicketReservationApplication.Models.ScreeningDetailsModel

@{
    ViewData["Title"] = "ViewScreeningDetails";
}

<h1>ViewScreeningDetails</h1>

<div>
    <h4>ScreeningDetailsModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CinemaHallName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CinemaHallName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreeningDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreeningDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Reservate", "Reservate", "Reservation", new { id = Model.Id }, null)
    @Html.ActionLink("View Movie Details", "ViewMovieDetails", "Movie", new { id = Model.MovieId }, null)
    @Html.ActionLink("Go back", "GetScreenings")
</div>
