@model IEnumerable<TicketReservationApplication.Entities.CinemaHall>

@{
    ViewData["Title"] = "ViewCinemaHalls";
}

<h1>ViewCinemaHalls</h1>

<p>
    @Html.ActionLink("Go back", "AdminPage", "Account") |
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfRows)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatsPerRow)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfRows)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatsPerRow)
            </td>
            <td>
                    @Html.ActionLink("Edit", "EditCinemaHall", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
